@import "../../styles/mixin.scss";

.simulator__hero {
  margin-top: 100px;

  &__ctrls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    svg {
      height: 30px;
      width: auto;
    }

    div {
      display: flex;
      align-items: center;

      button {
        border: 0;
        margin-left: 30px;
      }
    }
  }

  &__video {
    height: 539px;
    margin-top: 36px;
    border-radius: 20px;
    margin-bottom: 142px;
    background-image: url("https://www.u-buy.com.ng/productimg/?image=aHR0cHM6Ly9pNS53YWxtYXJ0aW1hZ2VzLmNvbS9hc3IvYTZhMzZlYTItMzM1Ni00OTk5LTg3MzAtNDk4ZTVhZDIyNWZhXzIuNjhhMzZhOTUzMTMzNjJhZGQzNjA3M2Y2ZmYxN2Q5ZDQuanBlZw.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 100px 10px rgba(112, 112, 112, 0.075);

    @include mobile {
      height: 308px;
    }
  }
}

.simulator__form {
  margin-top: 128px;
  margin-bottom: 128px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

  h3 {
    font-size: 48px;
    letter-spacing: -1.5px;

    strong {
      color: var(--primary-color);
    }
  }

  p {
    line-height: 1.9;
    opacity: 0.8;
    margin: 20px 0 50px 0;
    max-width: 480px;
  }

  form {
    .grid {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .simulator__form__input {
      display: block;

      span {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 20px;
        text-transform: uppercase;
      }

      input {
        display: block;
        border: 0;
        background: #f1f4ff;
        font-size: 16px;
        border-radius: 100vh;
        padding: 19px 20px;
        width: 100%;

        &::placeholder {
          color: #253858;
          opacity: 0.6;
        }
      }
    }

    .simulator__form__radio-boxes {
      display: flex;
      align-items: center;

      label {
        margin-right: 30px;

        cursor: pointer;

        input {
          margin-right: 8px;
        }
      }
    }

    .btn--primary {
      display: block;
      width: fit-content;
      margin-top: 50px;
      font-size: 16px;
      padding: 15px 40px;
      display: flex;
      align-items: center;

      img {
        margin-left: 40px;
      }
    }
  }
}
