@import "../assets/fonts/stylesheet.scss";
@import "../assets/poppins/stylesheet.scss";

:root {
  --primary-color: #072ac8;
}

* {
  // font-family: "HK Grotesk Legacy";
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #253858;
  outline: none;
}

html, * {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  padding-left: 60px;
  padding-right: 60px;

  &__section {
    max-width: 1138px;
    margin-right: auto;
    margin-left: auto;
  }
}

button {
  cursor: pointer;
}

.btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 18px 30px;
  border-radius: 100vh;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;

  &--primary {
    @extend .btn;
  }

  &--invert {
    @extend .btn;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: rgba(7, 42, 200, 0.05);
  }
}

.color-gradient {
  background: linear-gradient(90deg, #075ef7, #072ac8, #728af3, #075ef7);
  width: fit-content;
  background-clip: text;
  animation-name: shimmer;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  @keyframes shimmer {
    50% {
      background-position-x: 300px;
    }
  }

  *,
  & {
    color: transparent !important;
  }
}

main {
  position: absolute;
  padding-top: 82px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

// animation group
// .fade-enter {
//   opacity: 0;
//   transform: translate(0, 25px);
//   z-index: 1;
// }
// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transform: translate(0, 0);
//   transition: 250ms ease-out;
// }
// .fade-exit {
//   opacity: 1;
//   transform: translate(0, 0);
// }
// .fade-exit.fade-exit-active {
//   opacity: 0;
//   transform: translate(0, 30px);
//   transition: 250ms ease-out;
//   z-index: 1;
// }

// custom
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(0, 30px);
}

.fade-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transition: 300ms ease-out;
}

.fade-exit {
  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(255, 255, 255);
    transform: translate(0, 100%);
  }
}

.fade-exit.fade-exit-active {
  &:after {
    transform: translate(0, 0);
    transition: 400ms ease-out;
  }
}
