@import "../../../styles/mixin.scss";

.the-nav-bar {
  z-index: 4;
  background: #fff;

  &__logo {
    svg {
      height: 32px;
      width: auto;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 30px;

      li {
        margin: 0 18px;

        a {
          opacity: 0.8;

          &.active {
            font-weight: 600;
            opacity: 1;
            color: var(--primary-color);
          }
        }
      }
    }

    button {
      margin-left: 16px;
      padding: 12px 36px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
